.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
div#root{
  height: 100%;
}

div#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

div#root select{
  margin: 0 5px;
}

div#root input:last-of-type{
  margin-left: 5px
}

div#root div {
  font-size: 60px;
  font-weight: bold;
}